.content {
width:60%;
float:left;
padding: 0 0 0 30px;
background:red;
}

.sidebar{

width:40%;
float:right;
padding:0 0 0 0px;
background:green;
}

h1{
text-align:center;
border-bottom:1px solid yellow;
padding-bottom:10px;

}


body{
  background-color:red;
}

#date{
  color:yellow;
  font-size:12px;
  font-style:italic;

}

#ch{
color:yellow;
font-size: 30px;
font-style: italic;
border-bottom:2px solid yellow;



}
